{
    "extends": ["universe", "prettier"],
    "plugins": ["import", "jsx-a11y", "react"],
    "env": {
        "node": true,
        "es2022": true
    },
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "off"
    }
}