<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332960612951-2p4d7tdttphdhaorl27i3g53ajbudk93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332960612951-2p4d7tdttphdhaorl27i3g53ajbudk93</string>
	<key>API_KEY</key>
	<string>AIzaSyDBBDyaYtQmcJkuigeeJAz9llqsAxSrsv4</string>
	<key>GCM_SENDER_ID</key>
	<string>332960612951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.graasp.mobile</string>
	<key>PROJECT_ID</key>
	<string>graasp-mobile-builder</string>
	<key>STORAGE_BUCKET</key>
	<string>graasp-mobile-builder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332960612951:ios:1cec01d4b933b722279912</string>
</dict>
</plist>